.header {
  position: absolute;
  left: 0;
  top: 24px;
  right: 0;
  z-index: 1;
}
.header__container {
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__image {
  width: 120px;
  height: 17px;
}
.navigation__button {
  color: var(--dark);
}

@media(min-width:768px){
  .header {
    top: 40px;
  }
  .navigation__image {
    width: 164px;
    height: 23px;
  }
}