:root {
	--white: #fff;
	--beige: #c1ab91;
	--dark: #2c2826;
	--orange: #ff8a00;
	--light: #fbf3e8;
}
html{
  position: relative;
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Nunito',sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothign:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color: var(--dark);
  background-color:var(--light);
  line-height: 1.4;
}
img,svg{
  display: block;
  max-width: 100%;
  height: auto;
}
svg{
  max-height: 100%;
}
button{
  display: block;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,p,figure,fieldset{
  margin: 0;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
  --offset-container:14px;
  max-width:calc(1300px + var(--offset-container*2));
  padding: 0 var(--offset-container);
  margin: 0 auto;
}

/*адаптив*/
@media(min-width:768px){
  .container{
    --offset-container:40px;
  }
}
@media(min-width:1440px){
  .container{
    --offset-container:70px;
  }
}